# Since .env is gitignored, you can use .env.example to build a new .env file when you clone the repo.
# cp .env.example .env

# After creating the .env file, rebuild the container.
# This file will be committed to version control, so make sure not to have any secrets in it.

SNOWFLAKE_ACCOUNT=
DBT_USER=
DBT_PASSWORD=
DBT_ROLE=
DBT_DATABSE=
DBT_WAREHOUSE=
DBT_SCHEMA=